@import url('http://fonts.googleapis.com/css?family=Vollkorn');
@import url('http://fonts.googleapis.com/css?family=Comfortaa');
@import url('http://fonts.googleapis.com/css?family=Open Sans:200');
@import url('http://fonts.googleapis.com/css?family=Open Sans:300');
@import url('http://fonts.googleapis.com/css?family=Open Sans:400');
@import url('http://fonts.googleapis.com/css?family=Inconsolata');
/* Change code font */

.CodeMirror pre {
  font-family: 'Inconsolata', Consolas, monocco, monospace;
}
div.input_area {
  border-color: rgba(0, 0, 0, 0.10);
  background: rbga(0, 0, 0, 0.5);
}
div.text_cell {
  max-width: 105ex;
  /* instead of 100%, */
}
div.text_cell_render {
  font-family: "Vollkorn", Helvetica, Arial, sans-serif;
  font-size: 11.5pt;
  /* added for some line spacing of text. */
}
div.text_cell_render h1,
div.text_cell_render h2,
div.text_cell_render h3,
div.text_cell_render h4,
div.text_cell_render h5,
div.text_cell_render h6 {
  font-family: 'Vollkorn', Consolas, monocco, monospace;
}
div.text_cell_render h1 {
  font-size: 24pt;
}
div.text_cell_render h2 {
  font-size: 18pt;
}
div.text_cell_render h3 {
  font-size: 14.5pt;
}
div.text_cell_render h5 {
  font-family: "Arvo", Helvetica, Arial, sans-serif;
  color: #BD4838;
  font-size: 11pt;
  padding: 5px 0 10px 30px;
  border-left: 10px solid #eee;
  border-bottom: 1px solid #eee;
}
.rendered_html pre,
.rendered_html code {
  font-size: medium;
}
.rendered_html strong {
  font-weight: 900;
}
.rendered_html ol {
  list-style: decimal;
  margin: 1em 2em;
}
.prompt.input_prompt {
  color: rgba(0, 0, 0, 0.5);
}
.cell.command_mode.selected {
  border-color: rgba(0, 0, 0, 0.1);
}
.cell.edit_mode.selected {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 5px #f0f0f0;
  -webkit-box-shadow: 0px 0px 5px #f0f0f0;
}
div.output_scroll {
  -webkit-box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radious: 2px;
}
#menubar .navbar-inner {
  background: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border: none;
  font-family: Open Sans;
  font-weight: 400;
}
.navbar-fixed-top .navbar-inner,
.navbar-static-top .navbar-inner {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: none;
}
div#notebook_panel {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-top: none;
}
div#notebook {
  border-top: 1px solid rgba(0, 0, 0, 0.15);
}
#menubar .navbar .navbar-inner,
.toolbar-inner {
  padding-left: 0;
  padding-right: 0;
}
#checkpoint_status,
#autosave_status {
  color: rgba(0, 0, 0, 0.5);
}
#header {
  font-family: Open Sans;
}
#notebook_name {
  font-weight: 200;
}
/*
This is a lazy fix, we *should* fix the
background for each Bootstrap button type
*/

#site * .btn {
  background: #fafafa;
  -webkit-box-shadow: none;
  box-shadow: none;
}