"*":
  core:
    ignoredNames: [
      "*.pyc"
      "**/bower_components"
      "**/node_modules"
      "**/.idea"
      "**/.tmp"
      "**/.sass-cache"
      "**/*.iml"
    ]
    disabledPackages: [
      "git-diff"
    ]
    themes: [
      "atom-light-ui"
      "base16-tomorrow-dark-theme"
    ]
  "atom-beautify":
    _analyticsUserId: "4db92f04-a106-426a-9bf8-f045b136c3f4"
    beautifyEntireFileOnSave: false
    js_indent_with_tabs: true
    js_indent_size: 4
  "exception-reporting":
    userId: "58b76047-44a3-519b-fbde-17dee35892ff"
  welcome:
    showOnStartup: false
  metrics:
    userId: "55cf1a036d5e07e135badaf2309d4b0e35cf9c3b"
  editor:
    preferredLineLength: 100
    invisibles: {}
    fontFamily: "Monaco"
  "tree-view":
    hideIgnoredNames: true
  linter: {}
  react: {}
  jshint: {}
  "linter-jshint": {}
  "atom-typescript": {}
  "language-babel": {}
  "linter-jsxhint": {}
  "linter-eslint":
    globalNodePath: "/usr/local"
    useGlobalEslint: true
".babel.regexp.source":
  editor:
    preferredLineLength: 100
".js.jsx.source":
  editor:
    preferredLineLength: 100
".source.ts.tsx":
  editor:
    preferredLineLength: 100
".source.ts":
  editor:
    preferredLineLength: 100
